@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <body>
        <img style="width: 60%; margin-left: auto; margin-right: auto; display: block;" src="~/images/DinoDiner-32.png" />
        <nav style="display: flex;">
            <a href="/Menu" style="flex-grow: 1; text-align: center; padding: .75rem; border: 5px solid #22b573">Menu</a>
            <a href="/About" style="flex-grow: 1; text-align: center; padding: .75rem; border: 5px solid #22b573">About</a>
            <a href="/Privacy" style="flex-grow: 1; text-align: center; padding: .75rem; border: 5px solid #22b573">Privacy</a>
        </nav>
    </body>